<div class="col-md-4">
	<span class="article-image"><img src="{{article.image}}"/></span>
	</div>
<div  class="article-content col-md-8">
	<h2>{{article.name}} by {{article.author}}</h2>
	{{article.content}}
	{{article.date}}
</div>

